
body {
  /*background-image  : -webkit-gradient(linear, left top, left bottom, from(#274494), to(#427db4));
  background-image: linear-gradient(#427db4, #274494); */
  background-image: url("images/andrew-mcelroy-XaGNO7bgZa8-unsplash.jpg");
  background-size: cover;
  height: 100%;
  margin: 0em;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.informative-text-centered-title{
  display: flex;
  justify-content: center;
  align-items:center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  color:rgb(67, 15, 80);
  margin-bottom: -2rem;
}

.select-search-type-buttons-container{
    display:flex;
    align-items: center;
    justify-content: center; 
}

.select-search-type-buttons-container div{
  margin:0.5rem;
}



.informative-text-centered{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  color:rgb(247, 184, 48);
  margin-bottom: -2rem;
}

#search-by-player-container {
 display:none;
}

.select-search-type-buttons-container button{
  background-color: transparent;
  padding:1rem;
  margin:1rem;
  font-size: 2rem;
  font-family: 'Roboto Slab', serif;
  color: rgb(67, 15, 80); 
  border-width: 0.5rem;
  border-color: rgb(67, 15, 80)rgb(67, 15, 80)rgb(67, 15, 80)rgb(67, 15, 80);
  transition: 0.6s;
}

#player-input-name-predict {
  background-color: transparent;
  padding:1rem;
  margin:1rem;
  font-size: 2rem;
  font-family: 'Roboto Slab', serif;
  color: rgb(67, 15, 80); 
  border-width: 0.5rem;
  border-color: rgb(67, 15, 80)rgb(67, 15, 80)rgb(67, 15, 80)rgb(67, 15, 80);
  transition: 0.6s;
}

#player-input-name-predict:focus{
  text-decoration: none;
  outline: none;
  border-style: solid;
}

.select-search-type-buttons-container button:focus{
  text-decoration: none;
  outline: none;
  border-style: solid;
}

.select-search-type-buttons-container button:hover{
  border-color:rgb(247, 184, 48) rgb(247, 184, 48) rgb(247, 184, 48) rgb(247, 184, 48);
  color:rgb(247, 184, 48);
  border-style:solid;
}

.select-search-type-buttons-container button:active{
  border-color:rgb(247, 184, 48) rgb(247, 184, 48) rgb(247, 184, 48) rgb(247, 184, 48);
  color:rgb(247, 184, 48);
  border-style:solid;
}

#search-by-player-container{
 display:none;
}

#search-by-stats-container{
  
}






table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}


button{
  border-radius: 2em / 2em; 
  position: relative;
  top: 1em;
  background-color: transparent;

}

input {
  text-align: center
}


.full-page-grid-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10fr 1fr 1fr;
}

#enter-string-or-stats-option-container{
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  width: 100%;
  height: 60%;
  display:flex; /*this applies the flexbox display property to the div so we can use the properties below*/
  justify-content: center;
  display: relative;
  top:10em;
} 


#fake-div{
  grid-column: 2 / span 3;
  grid-row: 1 / span 1;
  width: 100%;
  height: 30%;
}

/* #search-by-player-container {
  width: 100%;
  margin-left: 40%;       
} */

#search-by-stats-container{
  width: 100%;
   
  display: none;
}
#player-input-name{
  color:rgb(67, 15, 80);
  font-size: 1.4rem;
  width: 20rem;
  background-color: rgba(83, 83, 83, 0.6);

} 

#go-button{
  color:grey;
}

#player-input-name::-webkit-input-placeholder {
  font-family: 'Roboto Slab', serif;
  color: rgb(67, 15, 80); 
}

#player-input-name:-ms-input-placeholder {
  font-family: 'Roboto Slab', serif;
  color: rgb(67, 15, 80); 
}

#player-input-name:-moz-placeholder {
  font-family: 'Roboto Slab', serif;
  color: rgb(67, 15, 80); 
}

#player-input-name::-moz-placeholder {
  font-family: 'Roboto Slab', serif;
  color: rgb(67, 15, 80); 
}
/*
.top-grid-container {
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.lower-grid-container {
  -ms-grid-row: 2;
  grid-row: 2;
  display: -ms-grid;
  display: grid;
  height: 70vh;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

grid-item

.lower-grid-container .grid-item {
  -ms-grid-column: 2;
  grid-column: 2;
}

.lower-grid-container .grid-item-1 {
  grid-column: span 1;
}

.lower-grid-container .content-holder {
  height: 10%em;
  width: 50px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#274494), to(#427db4));
  background-image: linear-gradient(#274494, #427db4);
  text-align: center;
  vertical-align: middle;
}

.lower-grid-container #search-go-container {
  top: 50%;
  left: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#274494), to(#427db4));
  background-image: linear-gradient(#274494, #427db4);
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  display: -ms-grid;
  display: grid;
}

.lower-grid-container #search-string {
  border: 3px solid #814659;
  background: fuchsia;
  -ms-grid-column: 1;
  grid-column: 1;
  border-radius: 20px;
  border: 2px solid #73AD21;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#274494), to(#427db4));
  background-image: linear-gradient(#274494, #427db4);
  height: 1.5em;
  width: 80%;
  text-align: center;
  vertical-align: center;
}

.lower-grid-container #go-button {
  background: fuchsia;
  -ms-grid-column: 2;
  grid-column: 2;
  width: 5%;
  vertical-align: center;
  text-align: left;
}

.lower-grid-container #search-string:focus {
  border: 3px solid #814659;
  outline: -webkit-focus-ring-color auto 0px;
  background-color: white;
} 
*/
