thead, tfoot, td, th, tr{
    border:none;
    padding: 10px;
    margin:none;
    border-color: rgba(83, 83, 83, 0.2);
    border-spacing:0px;   
    font-family: 'Roboto Slab', serif;
    color: rgb(247, 184, 48);     
}



@media (max-width:550px){
   #predict-by-stats-table thead, tfoot, td, th, tr{
        border:none;
        padding: 3px;
        margin: 0px;
        border-color: rgba(83, 83, 83, 0.2);
        border-spacing:0px;
        
        font-family: 'Roboto Slab', serif;
        color: rgb(247, 184, 48);     
        font-size: 1.15em;
    }

}

    @media (max-width:380px){
        #predict-by-stats-table thead, tfoot, td, th, tr{
            border:none;
            padding: 3px;
            margin: 0px;
            border-color: rgba(83, 83, 83, 0.2);
            border-spacing:0px;
            
            font-family: 'Roboto Slab', serif;
            color: rgb(247, 184, 48);     
            font-size: 1.05em;
        }


}