body {
    /*background-image  : -webkit-gradient(linear, left top, left bottom, from(#274494), to(#427db4));
    background-image: linear-gradient(#427db4, #274494); */
    background-image: url("../images/andrew-mcelroy-XaGNO7bgZa8-unsplash.jpg");
    background-size: cover;
    height: 100%;
    margin: 0em;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
  .informative-text-centered-title{
    display: flex;
    justify-content: center;
    align-items:center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-size: 3em;
    color:rgb(67, 15, 80);
    margin-bottom: -2rem;
  }
  
  .select-search-type-buttons-container{
      display:flex;
      align-items: center;
      justify-content: center; 
  }
  
  .select-search-type-buttons-container div{
    margin:0.5rem;
  }
  
  
  
  .informative-text-centered{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-size: 3em;
    color:rgb(247, 184, 48);
    margin-bottom: -2rem;
  }
  
  #search-by-player-container {
   display:none;
  }
  
  

  #search-by-stats-container{
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    color:rgb(247, 184, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #api-test-response-label{
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    color:rgb(247, 184, 48);
  }

  .api-test{
    margin: 50px;
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  